.swiper-card-basic {
  height: 515px;
}

.swiper-empty-notice {
  width: calc(100%-60px);
  padding: 5px 100px;
  color: white;
  font-size: 80%;
  margin-top: 150px;
  display: inline-flex;
  justify-content: space-between;
  text {
    color: #9e9e9e;
  }
}
